header {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 100px);
    justify-content: center;
    gap: 2rem;
    width: 100%;
    padding: 0 1rem;
    margin-top: 100px;
}
.heroInto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h1 {
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 3rem;
}
#hey {
    opacity: 0;
    animation: animeHey 1s 2s forwards;
}
#iAm {
    opacity: 0;
    animation: animeHey 1s 2s forwards;
}

#abhay {
    opacity: 0;
    animation: animeAbhay 3s 2s forwards;
}
header .myDP {
    max-width: 150px;
    opacity: 0;
    transform: scale(0%);
    animation: animeImg 1s 5s forwards;
    border-radius: 50%;
}

header article {
    /* padding: 0 1rem; */
    /* animation: animeArticle 250ms 5s forwards; */
    animation-delay: 5s !important;
    width: 100%;
    max-width: 900px;
    font-weight: 100;
    color: #ffffffb6;
}
#designation {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff;
    margin-left: 0.25rem;
    animation-delay: 8s !important;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
}
.socialLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    animation-delay: 6s !important;
}
.email {
    animation-delay: 7s !important;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.socialLinks img,
.email img {
    max-width: 40px;
}
.email img {
    display: none;
}

/* desktop screens */
@media screen and (min-width: 900px) {
    header h1 {
        font-size: 5rem;
    }
    header {
        justify-content: center;
        align-items: flex-start;
        gap: 5rem;
    }
    .heroInto {
        flex-direction: row;
        align-items: center;
        /* height: 50vh; */
        justify-self: flex-start;
    }
    .heroInto * {
        margin: auto 0.75rem;
    }
    .links {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        /* background-color: rebeccapurple; */
    }
    #iAm {
        opacity: 0;
        animation: animeIAM2 1s 2s forwards;
    }
    header .myDP {
        max-width: 250px;
    }
    #abhay {
        opacity: 0;
        animation: animeAbhay2 3s 2s forwards;
    }
    #designation {
        font-size: 2.5rem;
    }
    .email img {
        display: inline-block;
    }
}

@keyframes animeHey {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes animeIAM {
    from {
        opacity: 0;
        transform: translateY(50vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes animeIAM2 {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes animeAbhay {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    25%,
    75% {
        opacity: 1;
        transform: translateY(-150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes animeAbhay2 {
    0% {
        opacity: 0;
        transform: translateY(100%) translateX(-250px);
    }
    25%,
    75% {
        opacity: 1;
        transform: translateY(0%) translateX(-250px);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

@keyframes animeImg {
    from {
        opacity: 0;
        transform: scale(0%);
    }
    to {
        opacity: 1;
        transform: scale(100%);
    }
}
