
.Skills{
    height: 100vh;
}
.skillsHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toggleSkillsButton{
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border: none;
    cursor: pointer;
}
.toggleSkillsButton img{
    max-height: 1.5rem;
    margin-left: 0.25rem;
    transition: all 350ms;
}
.showDown{
}
.showUp{
    /* transform: rotate(-180deg); */
    transform: rotate(-180deg);
}
.card-section{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.SkillCard{
    /* background-color: var(--color-grey); */
    padding: 0.25rem;
    border-radius: 4px;
    width: 75px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
.skillIcon{
    max-width: 75%;
}
.skillText{
    font-size: 0.75rem;
    opacity: 0.75;
}