
.Skills{
    height: 100vh;
}
.skillsHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toggleSkillsButton{
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: inherit;
    border: none;
    cursor: pointer;
    /* background-color: rebeccapurple; */
}
.toggleSkillsButton img{
    max-height: 1.5rem;
    margin-left: 0.25rem;
    transition: all 500ms;
}
.showDown{
}
.showUp{
    /* transform: rotate(-180deg); */
    transform: rotate(-180deg);
}
.card-section-small{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    backdrop-filter: blur(3px);
    background-color: #14141480;
}
.SkillCardSmall-hide{
    transform: scale(0);
    transform-origin: top;
}
.SkillCardSmall-show{
    transform: scale(100%) ;
}
.SkillCardSmall{
    /* background-color: var(--color-grey); */
    padding: 0.25rem;
    border-radius: 4px;
    width: 75px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    transition: all 500ms;
}
.skillIcon{
    max-width: 75%;
}
.skillText{
    font-size: 0.75rem;
    opacity: 0.75;
}


/* desktop screens */
@media screen and (min-width: 900px) {
    .card-section-small{
        justify-content: center;
    }
    .SkillCardSmall{
        /* background-color: var(--color-grey); */
    width: 100px;
    height: 133px;
    }
}