
nav{
    padding: 0 1rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    max-width: 100vw;
}

nav h1{
    font-family: 'Cutive', serif;
    font-weight: 900;
}
.menuIcon{
    max-height: 35%;
    cursor: pointer;
}

.navList{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.navList-bg{
    display: none;
}
.navList-sm{
    position: absolute;
    top: 100px;
    right: 0;
    width: 30vw;
    min-width: 300px;
    flex-direction: column;
    transform: translateX(100%);
    padding: 0;
}
.navLinks{
    /* margin: 0 3rem; */
    padding: 0 3rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.navLinks-bg{
    transition: 250ms all;
}
.navLinks-sm{
    text-align: right;
    /* background-color: rebeccapurple; */
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    transition: 500ms all;
}
.navLinks-bg:hover{
    transform: translateY(-10px);
    background-color: red;
}
.linkOut{
    transform: translateX(0%);
}
.linkIn{
    transform: translateX(-100%);
}

#delay1{
    transition-delay: 100ms;
}
#delay2{
    transition-delay: 200ms;
}
#delay3{
    transition-delay: 300ms;
}
@media screen and (min-width: 900px) {
    nav {
        
    }
    .menuIcon{
        display: none;
    }
    .navList{
        display: flex;
    }
    .navList-sm{
        display: none;
    }
  }