
.Card{
    /* width: 700px; */
    /* width: 45%; */
    max-width: 90vw;
    height: 400px;
    background-color: var(--color-grey);
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 100%;
}

.cardFace{
    width: 100%;
    height: 50%;
    aspect-ratio: calc(16/9);
    border-radius: 0.5rem;
    background-color: rgba(102, 51, 153, 0.178);
    background-position: center;
    background-size: cover;
}
.medifyImg{
    background-image: url(../../../assets/projects/medify1.jpg);
}
.medifyGif{
    background-image: url(../../../assets/projects/medifyGif.gif);
}
.cardText{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.cardHead{
    font-size: 1.4rem;
    font-weight: 700;
}
.mediyCardHead{
    color: #2AA8FF;
}
.CardSubtext{
    font-weight: lighter;
}


/* screens above 500px */
@media screen and (min-width: 500px) {
    .Card{
        flex-direction: row;
        padding: 1rem;
        height: 210px;
    }
    .cardFace{
        width: 50%;
        height: auto;
    }
    .cardText{
        /* width: 500px; */
    }
}

/* screens above 1000px */
@media screen and (min-width: 1000px) {
    .Card{
        flex: 1;
        max-width: 676px;
    }
}