main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1400px;
    max-width: 100vw;
}

.hoverAction{
    transition: transform 250ms;
}
.hoverAction:hover{
    transform: translateY(-10px);
}

.animeOnVisible{
    animation: animeOnVisible 1s forwards;
    opacity: 0;
}

@keyframes animeOnVisible {
    from{
        opacity: 0;
        transform: translateY(25%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}